body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#header, #intro, #main, #quote, #signup, #footer{
    padding: 0 25px;
}

#header{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

#header img{
    width: 75px;
    height: auto;
}

#header ul{
    display: flex;
    gap: 15px;
}

#header a{
    color: white;
}

#intro{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
}

#intro img{
    width: 200px;
}

#intro-info{
    width: 500px;
}

#intro-info h1{
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

#intro-info p{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}