body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#header, #intro, #main, #quote, #signup, #footer{
    padding: 0 25px;
}

#header{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

#header img{
    width: 85px;
    height: auto;
    border-radius: 8px;
}

#header ul{
    display: flex;
    gap: 15px;
}

#header a{
    color: #E5E7EB;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#intro{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding: 22px 0;
}

#intro img{
    width: 200px;
    border-radius: 14px;
}

#intro button{
    color: #E5E7EB;
    height: 30px;
    background-color: #3882F6;
    padding: 0 15px;
    border: none;
    border-radius: 8px;
}

#intro-info{
    width: 500px;
}

#intro-info h1{
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

#intro-info p{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

#main{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#main h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 0;
    margin: 0;
}

#examples{
    display: flex;
    justify-content: space-around;
}

.example img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 18px;
}

.example p{
    width: 250px;
    text-align: center;
    margin-top: 15px;
}

#quote{
    background-color: #E5E7EB;
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    flex-direction: column;
}

#quote-container{
    width: 600px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#quote-text{
    margin: 0;
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    width: 500px;
    align-self: center;
}

#quote-author{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: end;
    align-self: flex-end;
}

#signup{
    align-self: center;
    display: flex;
    gap: 70px;
    width: 700px;
    background-color: #3882F6;
    justify-content: center;
    padding: 40px 0px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

#signup-text{
    width: 400px;
}

#signup-text-title{
    font-size: 20px;
    font-weight: bold;
}

#signup-text-text{
    font-size: 16px;
}

#signup button{
    background: transparent;
    border-color: #E5E7EB;
    border-width: 2px;
    color: #E5E7EB;
    border-style: solid;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: min-content;
    padding: 10px 25px;
    align-self: center;
}

#footer{
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 35px 0 35px 0;
    margin-top: 60px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
}